
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>handleRedirect</title>
</head>
<body>
    <div class="text-leader"> 
      The result is:  @ViewBag.resp
    </div>
</body>
</html>
