
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Loading..</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#0077a3" />
    <link href="~/Content/assets/css/appstyle.css" rel="stylesheet" />

</head>
<body>
    <div>
    </div>

    <script src="~/Content/assets/js/myScript.min.js"></script>
    <script>
        $(function () {
            //alert(Metro.storage.getItem("anpd"));
            if (Metro.storage.getItem("anpd") == null) {window.location.assign("@Url.RouteUrl("access")"); } //window.location.assign("/access/DirAuth/khiuhiuh/");
            else { window.location.assign("/access/DirAuth/" + Metro.storage.getItem('anpd')); }

            Metro.activity.open({
                type: 'atom',
                overlayColor: '#fff',
                overlayAlpha: 1,
                text: '<div class=\'mt-2 text-small\'>Please, wait...</div>',
                overlayClickClose: true
            });
          //
        })
    </script>
</body>
</html>
