    <section class="container-fluid bg-grayWhite " style="padding-top:150px;">
        <div class="row d-flex flex-justify-center">
            <div class="cell-auto">
                <div class="tiles-grid tiles-group size-2 mt-10" data-group-title="Universal Office">
                    <a href="https://github.com/olton/Metro-UI-CSS"
                       data-role="tile" class="bg-indigo">
                        <span class=" mif-link icon"></span>
                        <span class="branding-bar">Connect</span>
                        <span class="badge-bottom">30</span>
                    </a>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-add-shopping-cart icon"></span>
                        <span class="branding-bar">Market</span>
                        <span class="badge-bottom">10</span>
                    </div>
                    <div data-role="tile" class="bg-orange" data-size="wide">
                        <span class="mif-chat icon"></span>
                        <span class="branding-bar">Chats</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-images icon"></span>
                        <span class="branding-bar">Images</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-file-video icon"></span>
                        <span class="branding-bar">Videos</span>
                    </div>
                </div>
            </div>

            <div class="cell-auto">
                <div class="tiles-grid tiles-group size-2 mt-10" data-group-title="Companies Office">
                    <a href="https://github.com/olton/Metro-UI-CSS"
                       data-role="tile" class="bg-indigo">
                        <span class="mif-bubbles icon"></span>
                        <span class="branding-bar">Company Chats</span>
                        <span class="badge-bottom">30</span>
                    </a>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-news icon"></span>
                        <span class="branding-bar">News</span>
                        <span class="badge-bottom">10</span>
                    </div>
                    <div data-role="tile" class="bg-orange" data-size="wide">
                        <span class="mif-chat icon"></span>
                        <span class="branding-bar">Chats</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-unlink icon"></span>
                        <span class="branding-bar">Live Connect</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-library icon"></span>
                        <span class="branding-bar">Offices</span>
                    </div>
                </div>
            </div>

            <div class="cell-auto">
                <div class="tiles-grid tiles-group size-2 mt-10" data-group-title="Investors Office">
                    <a href="https://github.com/olton/Metro-UI-CSS"
                       data-role="tile" class="bg-indigo">
                        <span class="mif-dollar2 icon"></span>
                        <span class="branding-bar">Investments</span>
                        <span class="badge-bottom">30</span>
                    </a>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-news icon"></span>
                        <span class="branding-bar">News</span>
                        <span class="badge-bottom">10</span>
                    </div>
                    <div data-role="tile" class="bg-orange" data-size="wide">
                        <span class="mif-chat icon"></span>
                        <span class="branding-bar">Chats</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-unlink icon"></span>
                        <span class="branding-bar">Live Connect</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-location-city icon"></span>
                        <span class="branding-bar">Offices</span>
                    </div>
                </div>
            </div>

            <div class="cell-auto">
                <div class="tiles-grid tiles-group size-2 mt-10" data-group-title="Private Office">
                    <a href="https://github.com/olton/Metro-UI-CSS"
                       data-role="tile" class="bg-indigo">
                        <span class="mif-dollars icon"></span>
                        <span class="branding-bar">Online Banking</span>
                        <span class="badge-bottom">30</span>
                    </a>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-search icon"></span>
                        <span class="branding-bar">Search</span>
                        <span class="badge-bottom">10</span>
                    </div>
                    <div data-role="tile" class="bg-orange" data-size="wide">
                        <span class="mif-chat icon"></span>
                        <span class="branding-bar">Chat</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-location icon"></span>
                        <span class="branding-bar">Location</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-apps icon"></span>
                        <span class="branding-bar">Apppstore</span>
                    </div>
                </div>
            </div>

            <div class="cell-auto">
                <div class="tiles-grid tiles-group size-2 mt-10 " data-group-title="Visioniares Office">
                    <a href="https://github.com/olton/Metro-UI-CSS"
                       data-role="tile" class="bg-indigo">
                        <span class="mif-github icon"></span>
                        <span class="branding-bar">Github</span>
                        <span class="badge-bottom">30</span>
                    </a>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-envelop icon"></span>
                        <span class="branding-bar">Email</span>
                        <span class="badge-bottom">10</span>
                    </div>
                    <div data-role="tile" class="bg-orange" data-size="wide">
                        <span class="mif-chat icon"></span>
                        <span class="branding-bar">Chat</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-table icon"></span>
                        <span class="branding-bar">Tables</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-table icon"></span>
                        <span class="branding-bar">Tables</span>
                    </div>
                </div>
            </div>

            <div class="cell-auto">
                <div class="tiles-grid tiles-group size-2 mt-10 " data-group-title="Consultants Office">
                    <a href="https://github.com/olton/Metro-UI-CSS"
                       data-role="tile" class="bg-indigo">
                        <span class="mif-github icon"></span>
                        <span class="branding-bar">Github</span>
                        <span class="badge-bottom">3000</span>
                    </a>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-envelop icon"></span>
                        <span class="branding-bar">Email</span>
                        <span class="badge-bottom">10</span>
                    </div>
                    <div data-role="tile" class="bg-orange" data-size="wide">
                        <span class="mif-chat icon"></span>
                        <span class="branding-bar">Chat</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-table icon"></span>
                        <span class="branding-bar">Tables</span>
                    </div>
                    <div data-role="tile" class="bg-cyan">
                        <span class="mif-table icon"></span>
                        <span class="branding-bar">Tables</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <button class="button fixed-bottom info" style="z-index:6;" onclick="Metro.bottomsheet.toggle('#bs', 'list')">List style</button>
    <ul id="bs" data-role="bottomsheet">
        <li><span class="icon mif-comment"></span>Message</li>
        <li><span class="icon mif-location"></span>Location</li>
        <li><span class="icon mif-keyboard-voice"></span>Voice</li>
        <li><span class="icon mif-phone"></span>Dialer</li>
        <li class="divider"></li>
        <li><span class="icon mif-file-upload"></span>Upload</li>
    </ul>
   
