@{
    ViewBag.Title = "Index";

}

<section class="container bg-grayWhite " style="padding-top:100px;">
    <div class="row">
        <div class="cell-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="~/Content/assets/images/meme.jpg">
                    </div>
                    <div class="name">John Doe</div>
                    <div class="date">Monday at 3:47 PM</div>
                </div>
                <div class="card-content p-2">
                    <img src="~/Content/assets/images/15.jpg" class="w-100">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-chevron-thin-left"></button>
                    <button class="flat-button mif-tag"></button>
                    <button class="flat-button mif-chevron-thin-right"></button>
                </div>
            </div>
        </div>
        <div class="cell-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="~/Content/assets/images/meme.jpg">
                    </div>
                    <div class="name">John Doe</div>
                    <div class="date">Monday at 3:47 PM</div>
                </div>
                <div class="card-content p-2">
                    <img src="~/Content/assets/images/14.jpg"class="w-100">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-chevron-thin-left"></button>
                    <button class="flat-button mif-tag"></button>
                    <button class="flat-button mif-chevron-thin-right"></button>
                </div>
            </div>
        </div>
        <div class="cell-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="avatar">
                        <img src="~/Content/assets/images/meme.jpg">
                    </div>
                    <div class="name">John Doe</div>
                    <div class="date">Monday at 3:47 PM</div>
                </div>
                <div class="card-content p-2">
                    <img src="~/Content/assets/images/11.jpg" class="w-100">
                </div>
                <div class="card-content fg-gray p-2">
                    <span><small>Likes: </small>112</span>
                    <span><small>Comments: </small>43</span>
                </div>
                <div class="card-footer">
                    <button class="flat-button mif-chevron-thin-left"></button>
                    <button class="flat-button mif-tag"></button>
                    <button class="flat-button mif-chevron-thin-right"></button>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="~/Content/assets/js/myScript.min.js"></script>